@tailwind base;
@tailwind components;
@tailwind utilities;

/*apply these styles to every html and body element */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

/*the universal selector applies these styles to every element */
* {
  box-sizing: border-box;
}
